body {
	font: 100%/1.5 system-ui, sans-serif;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

th {
	background:hsl(220 10% 95%);
}

th,
td {
	padding: .3em .5em;
	border: 1px solid hsl(220 10% 80%)
}

img[property="picture"] {
	max-width: 20em;
}

img[property="picture"]:is([src=""], :not([src])) {
	width: 4em;
	height: 4em;
	background: hsl(220 10% 80%) url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text y=".9em" font-size="90">🏡</text></svg>') no-repeat center / 60% auto;
}

[property="commute"].mv-empty.mv-empty.mv-empty {
	display: inline-block;
}

[property="commute"].mv-empty:empty::before {
	content: "Commute";
}

:where(.terrible, .bad, .ok, .good, .great) {
	background: hsl(var(--color-hs, 220 10%) calc(var(--color-l-scale, 1) * 93%));
}

.terrible {
	--color-hs: 0 80%;
	--color-l-scale: .95;
}

.bad {
	--color-hs: 0 80%;
	--color-l-scale: 1.02;
}

.ok {
	--color-hs: 60 80%;
	--color-l-scale: .9;
}

.good {
	--color-hs: 80 60%;
	--color-l-scale: .95;
}

.great {
	--color-hs: 95 90%;
}

.basic-info {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: .5em;
}

.basic-info > div {
	padding: .4em .5em;
	background: hsl(var(--color-hs, 220 10%) calc(var(--color-l-scale, 1) * 93%));
	border-radius: .25em;
}

[property="rent"]::before {
	content: "$"
}

[property="parking"]::after {
	content: " parking"
}

[property="area"]::after {
	content: " sqft";
}